# INITIAL FORAY INTO INSURANCE DATA

In [1]:
#data from this kaggle comp.: https://www.kaggle.com/c/homesite-quote-conversion
#I NEED TO ADD MORE COMMENTS, I KNOW!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
##check out tutorial here:
##http://nbviewer.ipython.org/github/jvns/pandas-cookbook/blob/v0.1/cookbook/Chapter%201%20-%20Reading%20from%20a%20CSV.ipynb
df_train = pd.read_csv('train.csv')
print np.shape(df_train)
df_train.head()

(260753, 299)

,QuoteNumber,Original_Quote_Date,QuoteConversion_Flag,Field6,Field7,Field8,Field9,Field10,Field11,Field12,...,GeographicField59A,GeographicField59B,GeographicField60A,GeographicField60B,GeographicField61A,GeographicField61B,GeographicField62A,GeographicField62B,GeographicField63,GeographicField64
0,1,2013-08-16,0,B,23,0.9403,0.0006,965,1.0200,N,...,9,9,-1,8,-1,18,-1,10,N,CA
1,2,2014-04-22,0,F,7,1.0006,0.0040,548,1.2433,N,...,10,10,-1,11,-1,17,-1,20,N,NJ
2,4,2014-08-25,0,F,7,1.0006,0.0040,548,1.2433,N,...,15,18,-1,21,-1,11,-1,8,N,NJ
3,6,2013-04-15,0,J,10,0.9769,0.0004,"1,165",1.2665,N,...,6,5,-1,10,-1,9,-1,21,N,TX
4,8,2014-01-25,0,E,23,0.9472,0.0006,"1,487",1.3045,N,...,18,22,-1,10,-1,11,-1,12,N,IL

In [ ]:
##CHOOSE A SUBSET TO WORK WITH INITIALLY
# df_train = df_train[0:10000]
df_train.head()

In [2]:
X_test = pd.read_csv('test.csv')
# X_test = X_test[0:5000]
X_test.head()

,QuoteNumber,Original_Quote_Date,Field6,Field7,Field8,Field9,Field10,Field11,Field12,CoverageField1A,...,GeographicField59A,GeographicField59B,GeographicField60A,GeographicField60B,GeographicField61A,GeographicField61B,GeographicField62A,GeographicField62B,GeographicField63,GeographicField64
0,3,2014-08-12,E,16,0.9364,0.0006,"1,487",1.3045,N,4,...,1,1,-1,1,-1,20,-1,25,Y,IL
1,5,2013-09-07,F,11,0.9919,0.0038,564,1.1886,N,8,...,10,10,-1,5,-1,5,-1,21,N,NJ
2,7,2013-03-29,F,15,0.8945,0.0038,564,1.0670,N,11,...,10,11,-1,20,-1,22,-1,11,N,NJ
3,9,2015-03-21,K,21,0.8870,0.0004,"1,113",1.2665,Y,14,...,8,8,-1,13,-1,8,-1,21,N,TX
4,10,2014-12-10,B,25,0.9153,0.0007,935,1.0200,N,4,...,7,7,-1,3,-1,22,-1,21,N,CA

<h2>WE FIRST DEAL WITH MISSING VALUES</h2>

In [3]:
from sklearn.decomposition import PCA #import principal component analysis
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import scale
df_train_nt = df_train.drop('QuoteConversion_Flag', 1)
from sklearn.decomposition import PCA #import principal component analysis
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import scale
# df_train_nt = df_train.drop('QuoteConversion_Flag', 1)
frames = [df_train_nt , X_test]
X = pd.concat( frames )
X_hot = pd.get_dummies( X )
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit( X_hot )
X_hot_imp = imp.transform( X_hot )
df_all = scale(X_hot_imp) #scaled data
np.shape(df_all)

(434589, 1489)

In [31]:
# # X_train = df_all[0:10000]
# X_train = df_all[0:260753]
# # X_test = df_all[10000:]
X_test = df_all[260753:]
# print np.shape(X_train)
# print np.shape(X_test)
# # y_train = df_train['QuoteConversion_Flag'][0:10000]
# y_train = df_train['QuoteConversion_Flag'][0:260753]
X_train = df_all[0:260753]
y_train = df_train['QuoteConversion_Flag'][0:260753]
print np.shape(y_train)

(260753,)

# LET'S TRY SOME GRADIENT BOOSTING!

In [ ]:
# import xgboost as xgb

# #also see here: https://github.com/dmlc/xgboost/blob/master/doc/parameter.md
# # hacking this: https://github.com/dmlc/xgboost/blob/master/demo/guide-python/cross_validation.py
# dtrain = xgb.DMatrix(np.array(X_train), label=np.array(y_train))
# param = {'max_depth':2, 'eta':1, 'silent':1, 'objective':'reg:logistic'}
# num_round = 2
# print ('running cross validation')
# bst_cv = xgb.cv(param, dtrain, num_round, nfold=5,
#        metrics={'error'}, seed = 0)

# print 'done'

#you actually wasnt to use GridSearchCV, I think:
#https://github.com/dmlc/xgboost/blob/master/demo/guide-python/sklearn_examples.py

In [ ]:
# type(bst_cv)
# print bst_cv
# # predictions = bst_cv.predict(xgb.DMatrix(X_test))

In [38]:
#Gradient boosting a la BL
import xgboost as xgb
model_xgb = xgb.DMatrix(np.array(X_train), label=np.array(y_train))
bst = xgb.train({'max_depth':10 , 'n_estimators': 50 , 'objective':'reg:logistic'},dtrain=model_xgb)
predictions = bst.predict(xgb.DMatrix(X_test))

In [33]:
print np.shape(predictions)
print predictions

(173836,)
[ 0.04766377  0.1459558   0.12043708 ...,  0.45562789  0.04766377
  0.2594822 ]

In [39]:
X_test_q = pd.read_csv('test.csv')
output =pd.DataFrame()
output["QuoteNumber"] = X_test_q["QuoteNumber"]
output["QuoteConversion_Flag"] = predictions
output.to_csv("pred_test_6.csv", index=False)

In [20]:
from sklearn.cross_validation import KFold, train_test_split
from sklearn.metrics import confusion_matrix, mean_squared_error
from sklearn.grid_search import GridSearchCV

/Users/hugobowne-anderson/repos/scikit-learn/sklearn/cross_validation.py:42: DeprecationWarning: This module has been deprecated in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/hugobowne-anderson/repos/scikit-learn/sklearn/grid_search.py:43: DeprecationWarning: This module has been deprecated in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [27]:
#taking lead from here: https://github.com/dmlc/xgboost/blob/master/demo/guide-python/sklearn_examples.py
rng = np.random.RandomState(31337)
kf = KFold(y_train.shape[0], n_folds=2, shuffle=True, random_state=rng)
for train_index, test_index in kf:
    model_xgb = xgb.DMatrix(np.array(X_train[train_index]), label=np.array(y_train[train_index]))
    bst = xgb.train({'max_depth':6 , 'n_estimators': 150 , 'objective':'reg:logistic'},dtrain=model_xgb)
    predictions = bst.predict(xgb.DMatrix(X_train[test_index]))
    actuals = y_train[test_index]
    print(mean_squared_error(actuals, predictions))

print("Parameter optimization")

0.100004890254
0.0794442980374
Parameter optimization

In [37]:
xgb_model = xgb.XGBRegressor()
clf = GridSearchCV(xgb_model,
                   {'max_depth': [2,4,6,8,10],
                    'n_estimators': [50,100,200]}, verbose=1)
clf.fit(X_train,y_train)
print(clf.best_score_)
print(clf.best_params_)

Fitting 3 folds for each of 15 candidates, totalling 45 fits
0.644338929872
{'n_estimators': 50, 'max_depth': 10}

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed: 897.3min finished